<style>    
.nidaIl{      
text-align: center;
position: center;         
background: white;         
width: 310px;         
height: 50px;         
      
pedding: 50px;         
margin: 10px;    
} 
.umra{
text-align: center;
border: 0px solid black;   
width: 327px;
height: 30px;

}
</style>

<div data-v-a9660e98="" class="game-head">
    <div data-v-a9660e98="" class="total-box">
        <div data-v-a9660e98="">
            <div data-v-a9660e98="">
            
            <div class="umra">
             <div data-v-42f27458="" class="num" style="font-size: 23px; font-weight: bold;">    <h2>        <!----></h2><span data-v-42f27458="" id="money_show"><h4>₹ Loading... </h4>  </span>  </div>
            <br>
           
          
            
                <div data-v-a9660e98="" class="nidal" style="text-align: center;">
                    <div data-v-a9660e98="" clasos="nidal" style="width: 100px; height: 100px">
                    <div data-v-42f27458="">       
                   
                    
                    
                    </div>
                        
                    
                
                
                
                   
                    </div>
                    </div>
                </div>
            </div>
            </div>
                  <span data-v-a9660e98="" class="umra" style="margin: 0px 0px 100px 100px;">🗂 Wallet Balance</span>
        <div data-v-a9660e98="" class="total-btn c-row c-row-between">
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/withdrawal'">
                <button data-v-a9660e98=""
                    class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                    style="
        color: rgb(255, 255, 255);
        background: rgb(71, 129, 255);
        border-color: rgb(71, 129, 255);
      ">
                    <div data-v-a9660e98="" class="van-button__content">
                        <span data-v-a9660e98="" class="van-button__text">
                            Withdraw
                        </span>
                    </div>
                </button>
            </div>

            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/recharge'">
                <button data-v-a9660e98=""
                    class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                    style="
        background: rgb(255, 255, 255);
        color: rgb(71, 129, 255);
        border-color: rgb(71, 129, 255);
      ">
                    <div data-v-a9660e98="" class="van-button__content">
                        <span data-v-a9660e98="" class="van-button__text">
                            Recharge
                        </span>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div data-v-a9660e98="" class="m-t-15 notice">
        <div data-v-a9660e98="" role="alert" class="van-notice-bar">
            <i class="van-icon van-icon-volume-o van-notice-bar__left-icon">
                <!---->
            </i>
            <div role="marquee" class="van-notice-bar__wrap">
                <div class="van-notice-bar__content" style="">
                    Notice :To visit our official website, be sure to use the link below, https://goagame.org.in/ Please remember! Make sure not provide personal data and personal transactions in any form and for any reason to other parties on behalf of EspGame. Our side does not make private chats or calls to all members. Please inform all Referrals/other Members about this to avoid fraud. Thank you for your attention and cooperation.
                </div>
            </div>
        </div>
    </div>
</div>