<div data-v-e2a7b350="" data-v-f1b3a9ec="" class="WinningTip__C" style="display: none" id="popup_modal">
   <div data-v-e2a7b350="" class="WinningTip__C-body" id="popup_background">
      <div data-v-e2a7b350="" class="WinningTip__C-body-l1" id="popup_greeting_display">Congratulations</div>
      <div data-v-e2a7b350="" class="WinningTip__C-body-l2">
         Lottery results
         <div data-v-e2a7b350="" class="line1" id="lottery_results_box">
            <div data-v-e2a7b350="">
               <div data-v-e2a7b350="" class="title">A</div>
               <div data-v-e2a7b350="" class="num">1</div>
            </div>
            <div data-v-e2a7b350="">
               <div data-v-e2a7b350="" class="title">B</div>
               <div data-v-e2a7b350="" class="num">5</div>
            </div>
            <div data-v-e2a7b350="">
               <div data-v-e2a7b350="" class="title">C</div>
               <div data-v-e2a7b350="" class="num">0</div>
            </div>
            <div data-v-e2a7b350="">
               <div data-v-e2a7b350="" class="title">D</div>
               <div data-v-e2a7b350="" class="num">0</div>
            </div>
            <div data-v-e2a7b350="">
               <div data-v-e2a7b350="" class="title">E</div>
               <div data-v-e2a7b350="" class="num">1</div>
            </div>
            <div data-v-e2a7b350="">
               <div data-v-e2a7b350="" class="title sum">SUM</div>
               <div data-v-e2a7b350="" class="num">7</div>
            </div>
         </div>
      </div>
      <div data-v-e2a7b350="" class="WinningTip__C-body-l3">
         <div data-v-e2a7b350="" class="isLose" id="popup_loss_symbol">Lose</div>
         <div data-v-e2a7b350="" class="head" id="popup_win_symbol">Bonus</div>
         <div data-v-e2a7b350="" class="bonus" id="popup_win_rupees_display">₹1.96</div>
         <div data-v-e2a7b350="" class="gameDetail" id="popup_game_details">Period:5D 1 minute 20240602011409</div>
      </div>
      <div data-v-e2a7b350="" class="WinningTip__C-body-l4">
         <div data-v-e2a7b350="" class="acitveBtn"></div>
         3 seconds auto close
      </div>
      <div data-v-e2a7b350="" class="closeBtn"></div>
   </div>
</div>

<script>
   $(".closeBtn").click(function () {
      $(".WinningTip__C").hide()
   })
</script>
