<div data-v-0ba2cf96="" data-v-40958d9a="" class="Wallet__C">
   <div data-v-0ba2cf96="" class="Wallet__C-balance">
      <div data-v-0ba2cf96="" class="Wallet__C-balance-l1 reload_money">
         <div data-v-0ba2cf96="" id="balance_amount">₹ Loading...</div>
      </div>
      <div data-v-0ba2cf96="" class="Wallet__C-balance-l2">
         <div data-v-0ba2cf96="">Wallet balance</div>
      </div>
      <div data-v-0ba2cf96="" class="Wallet__C-balance-l3">
         <div data-v-0ba2cf96="" onclick="location.href='/wallet/withdrawal'">Withdraw</div>
         <div data-v-0ba2cf96="" onclick="location.href='/wallet/recharge'">Deposit</div>
      </div>
   </div>
</div>

<div data-v-b3a5ca79="" data-v-40958d9a="" class="noticeBar__container" style="--04aba014: linear-gradient(360deg, #f54545 20.19%, #fe6868 100%)">
   <!---->
   <div data-v-b3a5ca79="" class="noticeBar__container-body">
      <div data-v-b3a5ca79="" class="noticeBar__container-body-text">Hello, withdrawals typically take 1-2 hours to process. We appreciate your patience and request that you wait for the status success before attempting to access your bank or e-wallet. Happy gaming!</div>
   </div>
   <button data-v-b3a5ca79="">Detail</button>
</div>
