<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 37.52px;">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex,nofollow">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>Big Mumbai Win</title>
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <link href="css/app.21328c5b.css" rel="stylesheet">
  <link rel="stylesheet" href="/k3/css/chunk-9ca7d0dc.0f968705.css">
  <link rel="stylesheet" href="/k3/css/chunk-f7aaa136.30c67545.css">
  <link rel="stylesheet" href="/k3/css/chunk-vendors.b521b44f.css">
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c0.css">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #9195a3;
      padding: 0;
      margin: 0;
    }

    .block-click {
      pointer-events: none;
    }

    .d-none {
      display: none !important;
    }
  </style>
  <link rel="stylesheet" href="/assets/css/modules-8b01ca49.css">
  <link rel="stylesheet" href="/assets/css/page-activity-9da3f4e3.css">
  <link rel="stylesheet" href="/assets/css/page-home-482c7bbf.css">
  <link rel="stylesheet" href="/assets/css/index-8560823f.css">
  <link rel="stylesheet" href="/assets/css/reset-910da13b.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
    crossorigin="anonymous"></script>
</head>

<body style="font-size: 12px;">
  <div id="app">
    <!-- <div data-v-03b808c2="" class="mian game"> -->
    <div data-v-644e12f7="" data-v-03b808c2="" class="K3__C">
      <div data-v-19888208="" data-v-40958d9a="" class="navbar">
        <div data-v-19888208="" class="navbar-fixed wc"
          style="background: linear-gradient(90deg, rgb(177, 131, 90) 0%, rgb(217, 173, 130) 100%);">
          <div data-v-19888208="" class="navbar__content">
            <div data-v-19888208="" class="navbar__content-left" onclick="history.back()">
              <div data-v-40958d9a="" class="arrow-left"></div>
            </div>
            <div data-v-19888208="" class="navbar__content-center">
              <div data-v-19888208="" class="headLogo"
                style="background-image: url('/h5setting_202308141709544lm1.png');">
              </div>
              <div data-v-19888208="" class="navbar__content-title"></div>
            </div>
            <div data-v-19888208="" class="navbar__content-right">
              <div data-v-40958d9a="" class="WinGo__C-head-more">
                <div data-v-40958d9a="" onclick="location.href = '/support'"></div>
                <div data-v-40958d9a="" class=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-v-0ba2cf96="" data-v-40958d9a="" class="Wallet__C">
   <div data-v-0ba2cf96="" class="Wallet__C-balance">
      <div data-v-0ba2cf96="" class="Wallet__C-balance-l1 reload_money">
         <div data-v-0ba2cf96="" id="balance_amount">₹ Loading...</div>
      </div>
      <div data-v-0ba2cf96="" class="Wallet__C-balance-l2">
         <div data-v-0ba2cf96="">Wallet balance</div>
      </div>
      <div data-v-0ba2cf96="" class="Wallet__C-balance-l3">
         <div data-v-0ba2cf96="" onclick="location.href='/wallet/withdrawal'">Withdraw</div>
         <div data-v-0ba2cf96="" onclick="location.href='/wallet/recharge'">Deposit</div>
      </div>
   </div>
</div>

<div data-v-b3a5ca79="" data-v-40958d9a="" class="noticeBar__container" style="--04aba014: linear-gradient(360deg, #f54545 20.19%, #fe6868 100%)">
   <!---->
   <div data-v-b3a5ca79="" class="noticeBar__container-body">
      <div data-v-b3a5ca79="" class="noticeBar__container-body-text">Hello, withdrawals typically take 1-2 hours to process. We appreciate your patience and request that you wait for the status success before attempting to access your bank or e-wallet. Happy gaming!</div>
   </div>
   <button data-v-b3a5ca79="">Detail</button>
</div>
        <div data-v-b108ab4b="" data-v-40958d9a="" class="GameList__C">
    <div data-v-b108ab4b="" class="GameList__C-item min_t_1" onclick="location.href='/k3/?game_type=1'">
        <div data-v-b108ab4b="">K3 1Min</div>
    </div>
    <div data-v-b108ab4b="" class="GameList__C-item min_t_3" onclick="location.href='/k3/?game_type=3'">
        <div data-v-b108ab4b="">K3 3Min</div>
    </div>
    <div data-v-b108ab4b="" class="GameList__C-item min_t_5" onclick="location.href='/k3/?game_type=5'">
        <div data-v-b108ab4b="">K3 5Min</div>
    </div>
    <div data-v-b108ab4b="" class="GameList__C-item min_t_10" onclick="location.href='/k3/?game_type=10'">
        <div data-v-b108ab4b="">K3 10Min</div>
    </div>
</div>

<script>
    let selectedPageTime = Number(new URLSearchParams(window.location.search).get('game_type'))
    console.log(selectedPageTime)
    switch (selectedPageTime) {
        case 1:
            document.querySelector(".min_t_1").classList.add("active")
            break;
        case 3:
            document.querySelector(".min_t_3").classList.add("active")
            break;
        case 5:
            document.querySelector(".min_t_5").classList.add("active")
            break;
        case 10:
            document.querySelector(".min_t_10").classList.add("active")
            break;
        default:
            document.querySelector(".min_t_1").classList.add("active")
            break;
    }

</script>


<style>
    .close {
        display: none !important;
    }
</style>

<div data-v-72d1481f="" class="K3TL__C">
    <div data-v-72d1481f="" class="K3TL__C-l1">
        <div data-v-72d1481f="" class="left">
            <div data-v-72d1481f="">Period</div>
            <div data-v-72d1481f="" class="K3TL__C-rule">How to play</div>
        </div>
        <div data-v-72d1481f="">Time remaining</div>
    </div>
    <div data-v-72d1481f="" class="K3TL__C-l2">
        <div data-v-72d1481f="" id="period">20240524100268</div>
        <div data-v-72d1481f="" class="K3TL__C-time">
            <div data-v-72d1481f="" class="count_down_d">0</div>
            <div data-v-72d1481f="" class="count_down_d">2</div>
            <div data-v-72d1481f="" notime="">:</div>
            <div data-v-72d1481f="" class="count_down_d">1</div>
            <div data-v-72d1481f="" class="count_down_d">4</div>
        </div>
    </div>
    <div data-v-72d1481f="" class="K3TL__C-l3">
        <div data-v-72d1481f="" class="box">
            <div data-v-72d1481f="" class="slot-num-d num3"></div>
            <div data-v-72d1481f="" class="slot-num-d num1"></div>
            <div data-v-72d1481f="" class="slot-num-d num4"></div>
        </div>
    </div>
</div>
<div data-v-67c1f5a3="" data-v-644e12f7="" class="K3B__C" voicetype="1" typeid="10">
    <div data-v-67c1f5a3="" class="K3B__C-mark" style="display: none;">
        <div data-v-67c1f5a3="">2</div>
        <div data-v-67c1f5a3="">4</div>
    </div>
    <div data-v-67c1f5a3="" class="K3B__C-nav">
        <div data-v-67c1f5a3="" class="active" tab-type="1">Total</div>
        <div data-v-67c1f5a3="" class="" tab-type="2">2 same</div>
        <div data-v-67c1f5a3="" class="" tab-type="3">3 same</div>
        <div data-v-67c1f5a3="" class="" tab-type="4">Different</div>
    </div>
    <div data-v-01cf71e0="" data-v-67c1f5a3="" class="K3B__C-bettingList"
        numlist="[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]"
        numtow="" numone="" numchack="false">
        <div data-v-01cf71e0="" class="bet_btn num num3" data="3" data-join="3">
            <div data-v-01cf71e0="" class="ball rball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num3">3</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">207.36X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num4" data="4" data-join="4">
            <div data-v-01cf71e0="" class="ball gball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num4">4</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">69.12X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num5" data="5" data-join="5">
            <div data-v-01cf71e0="" class="ball rball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num5">5</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">34.56X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num6" data="6" data-join="6">
            <div data-v-01cf71e0="" class="ball gball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num6">6</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">20.74X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num7" data="7" data-join="7">
            <div data-v-01cf71e0="" class="ball rball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num7">7</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">13.83X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num8" data="8" data-join="8">
            <div data-v-01cf71e0="" class="ball gball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num8">8</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">9.88X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num9" data="9" data-join="9">
            <div data-v-01cf71e0="" class="ball rball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num9">9</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">8.3X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num10" data="10" data-join="10">
            <div data-v-01cf71e0="" class="ball gball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num10">10</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">7.68X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num11" data="11" data-join="11">
            <div data-v-01cf71e0="" class="ball rball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num11">11</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">7.68X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num12" data="12" data-join="12">
            <div data-v-01cf71e0="" class="ball gball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num12">12</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">8.3X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num13" data="13" data-join="13">
            <div data-v-01cf71e0="" class="ball rball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num13">13</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">9.88X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num14" data="14" data-join="14">
            <div data-v-01cf71e0="" class="ball gball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num14">14</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">13.83X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num15" data="15" data-join="15">
            <div data-v-01cf71e0="" class="ball rball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num15">15</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">20.74X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num16" data="16" data-join="16">
            <div data-v-01cf71e0="" class="ball gball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num16">16</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">34.56X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num17" data="17" data-join="17">
            <div data-v-01cf71e0="" class="ball rball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num17">17</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">69.12X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num num18" data="18" data-join="18">
            <div data-v-01cf71e0="" class="ball gball">
                <div data-v-01cf71e0="" class="K3B__C-odds-bet num18">18</div>
            </div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">207.36X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num numA" data="b" data-join="Big">
            <div data-v-01cf71e0="" class="">Big</div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">1.92X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num numB" data="s" data-join="Small">
            <div data-v-01cf71e0="" class="">Small</div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">1.92X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num numC" data="l" data-join="lẻ">
            <div data-v-01cf71e0="" class="">Odd</div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">1.92X </div>
        </div>
        <div data-v-01cf71e0="" class="bet_btn num numD" data="c" data-join="chẵn">
            <div data-v-01cf71e0="" class="">Even</div>
            <div data-v-01cf71e0="" class="K3B__C-odds-rate">1.92X </div>
        </div>
    </div>
    <div data-v-279c5cea="" data-v-67c1f5a3="" class="K3B__C-betting2 close">
        <div data-v-279c5cea="" class="K3B__C-betting2-tip1">2 matching numbers: odds<span
                data-v-279c5cea="">(13.83)</span><i data-v-279c5cea=""
                class="van-badge__wrapper van-icon van-icon-question icon"
                style="color: rgb(250, 87, 74); font-size: 16px;"></i></div>
        <div data-v-279c5cea="" class="K3B__C-betting2-line1 mb30">
            <div data-v-279c5cea="" class="" game="2_1" data="11">
                <div data-v-279c5cea="">11</div>
            </div>
            <div data-v-279c5cea="" class="" game="2_1" data="22">
                <div data-v-279c5cea="">22</div>
            </div>
            <div data-v-279c5cea="" class="" game="2_1" data="33">
                <div data-v-279c5cea="">33</div>
            </div>
            <div data-v-279c5cea="" class="" game="2_1" data="44">
                <div data-v-279c5cea="">44</div>
            </div>
            <div data-v-279c5cea="" class="" game="2_1" data="55">
                <div data-v-279c5cea="">55</div>
            </div>
            <div data-v-279c5cea="" class="" game="2_1" data="66">
                <div data-v-279c5cea="">66</div>
            </div>
        </div>
        <div data-v-279c5cea="" class="K3B__C-betting2-tip1">A pair of unique numbers: odds<span
                data-v-279c5cea="">(69.12)</span><i data-v-279c5cea=""
                class="van-badge__wrapper van-icon van-icon-question icon"
                style="color: rgb(250, 87, 74); font-size: 16px;"></i></div>
        <div data-v-279c5cea="" class="K3B__C-betting2-line2">
            <div data-v-279c5cea="" class="" data="11" number="1" game="2_2">
                <div data-v-279c5cea="" class="">11</div>
            </div>
            <div data-v-279c5cea="" class="" data="22" number="2" game="2_2">
                <div data-v-279c5cea="" class="">22</div>
            </div>
            <div data-v-279c5cea="" class="" data="33" number="3" game="2_2">
                <div data-v-279c5cea="" class="">33</div>
            </div>
            <div data-v-279c5cea="" class="" data="44" number="4" game="2_2">
                <div data-v-279c5cea="" class="">44</div>
            </div>
            <div data-v-279c5cea="" class="" data="55" number="5" game="2_2">
                <div data-v-279c5cea="" class="">55</div>
            </div>
            <div data-v-279c5cea="" class="" data="66" number="6" game="2_2">
                <div data-v-279c5cea="" class="">66</div>
            </div>
        </div>
        <div data-v-279c5cea="" class="K3B__C-betting2-line3">
            <div data-v-279c5cea="" class="" data="1" number="1" game="2_2">
                <div data-v-279c5cea="" class="">1</div>
            </div>
            <div data-v-279c5cea="" class="" data="2" number="2" game="2_2">
                <div data-v-279c5cea="" class="">2</div>
            </div>
            <div data-v-279c5cea="" class="" data="3" number="3" game="2_2">
                <div data-v-279c5cea="" class="">3</div>
            </div>
            <div data-v-279c5cea="" class="" data="4" number="4" game="2_2">
                <div data-v-279c5cea="" class="">4</div>
            </div>
            <div data-v-279c5cea="" class="" data="5" number="5" game="2_2">
                <div data-v-279c5cea="" class="">5</div>
            </div>
            <div data-v-279c5cea="" class="" data="6" number="6" game="2_2">
                <div data-v-279c5cea="" class="">6</div>
            </div>
        </div>
    </div>
    <div data-v-ef8ad3e9="" data-v-67c1f5a3="" class="K3B__C-betting3 close">
        <div data-v-ef8ad3e9="" class="K3B__C-betting3-tip1">3 of the same number: odds <span
                data-v-ef8ad3e9="">(207.36)</span><i data-v-ef8ad3e9=""
                class="van-badge__wrapper van-icon van-icon-question icon"
                style="color: rgb(250, 87, 74); font-size: 16px;"></i></div>
        <div data-v-ef8ad3e9="" class="K3B__C-betting3-line1 mb30">
            <div data-v-ef8ad3e9="" class="" data="111">
                <div data-v-ef8ad3e9="">111</div>
            </div>
            <div data-v-ef8ad3e9="" class="" data="222">
                <div data-v-ef8ad3e9="">222</div>
            </div>
            <div data-v-ef8ad3e9="" class="" data="333">
                <div data-v-ef8ad3e9="">333</div>
            </div>
            <div data-v-ef8ad3e9="" class="" data="444">
                <div data-v-ef8ad3e9="">444</div>
            </div>
            <div data-v-ef8ad3e9="" class="" data="555">
                <div data-v-ef8ad3e9="">555</div>
            </div>
            <div data-v-ef8ad3e9="" class="" data="666">
                <div data-v-ef8ad3e9="">666</div>
            </div>
        </div>
        <div data-v-ef8ad3e9="" class="K3B__C-betting3-tip1">Any 3 of the same number: odds <span
                data-v-ef8ad3e9="">(34.56)</span><i data-v-ef8ad3e9=""
                class="van-badge__wrapper van-icon van-icon-question icon"
                style="color: rgb(250, 87, 74); font-size: 16px;"></i></div>
        <div data-v-ef8ad3e9="" class="K3B__C-betting3-btn">Any 3 of the same number: odds</div>
    </div>
    <div data-v-f4e1a453="" data-v-67c1f5a3="" class="K3B__C-betting4 close">
        <div data-v-f4e1a453="" class="K3B__C-betting4-tip1">3 different numbers: odds <span
                data-v-f4e1a453="">(34.56)</span><i data-v-f4e1a453=""
                class="van-badge__wrapper van-icon van-icon-question icon"
                style="color: rgb(250, 87, 74); font-size: 16px;"></i></div>
        <div data-v-f4e1a453="" class="K3B__C-betting4-line1 mb30">
            <div data-v-f4e1a453="" data="1" class="">
                <div data-v-f4e1a453="">1</div>
            </div>
            <div data-v-f4e1a453="" data="2" class="">
                <div data-v-f4e1a453="">2</div>
            </div>
            <div data-v-f4e1a453="" data="3" class="">
                <div data-v-f4e1a453="">3</div>
            </div>
            <div data-v-f4e1a453="" data="4" class="">
                <div data-v-f4e1a453="">4</div>
            </div>
            <div data-v-f4e1a453="" data="5" class="">
                <div data-v-f4e1a453="">5</div>
            </div>
            <div data-v-f4e1a453="" data="6" class="">
                <div data-v-f4e1a453="">6</div>
            </div>
        </div>
        <div data-v-f4e1a453="" class="K3B__C-betting4-tip1">3 continuous numbers: odds <span
                data-v-f4e1a453="">(8.64)</span><i data-v-f4e1a453=""
                class="van-badge__wrapper van-icon van-icon-question icon"
                style="color: rgb(250, 87, 74); font-size: 16px;"></i></div>
        <div data-v-f4e1a453="" class="K3B__C-betting4-btn">3 continuous numbers</div>
        <div data-v-f4e1a453="" class="K3B__C-betting4-tip1">2 different numbers: odds <span
                data-v-f4e1a453="">(6.91)</span><i data-v-f4e1a453=""
                class="van-badge__wrapper van-icon van-icon-question icon"
                style="color: rgb(250, 87, 74); font-size: 16px;"></i></div>
        <div data-v-f4e1a453="" class="K3B__C-betting4-line1">
            <div data-v-f4e1a453="" class="" data="1">
                <div data-v-f4e1a453="">1</div>
            </div>
            <div data-v-f4e1a453="" class="" data="2">
                <div data-v-f4e1a453="">2</div>
            </div>
            <div data-v-f4e1a453="" class="" data="3">
                <div data-v-f4e1a453="">3</div>
            </div>
            <div data-v-f4e1a453="" class="" data="4">
                <div data-v-f4e1a453="">4</div>
            </div>
            <div data-v-f4e1a453="" class="" data="5">
                <div data-v-f4e1a453="">5</div>
            </div>
            <div data-v-f4e1a453="" class="" data="6">
                <div data-v-f4e1a453="">6</div>
            </div>
        </div>
    </div>
</div>

<script>
    $(`.K3B__C-nav div`).click(function (params) {
        console.log($(`.K3B__C-bettingList`))
        $(`.K3B__C-bettingList`).addClass('close')
        $(`.K3B__C-betting2`).addClass('close')
        $(`.K3B__C-betting3`).addClass('close')
        $(`.K3B__C-betting4`).addClass('close')

        const selectedTab = parseInt($(this).attr('tab-type'))

        switch (selectedTab) {
            case 1:
                console.log(selectedTab)
                $(`.K3B__C-bettingList`).removeClass('close')
                break;
            case 2:
                console.log(selectedTab)
                $(`.K3B__C-betting2`).removeClass('close')
                break;
            case 3:
                console.log(selectedTab)
                $(`.K3B__C-betting3`).removeClass('close')
                break;
            case 4:
                console.log(selectedTab)
                $(`.K3B__C-betting4`).removeClass('close')
                break;
            default:
                break;
        }

        $(`.K3B__C-nav div`).removeClass('active')
        $(this).addClass('active')
    })
</script>

<div data-v-03b808c2="" data-v-67c1f5a3="" data-v-644e12f7="" class="game-betting K3B__C">
    <div data-v-a9660e98="" class="box c-row">
    </div>
    <div data-v-a9660e98="" class="content">

        <div data-v-03b808c2="" style="text-align: center;">
            <div data-v-03b808c2="" class="slot-inner">
                <div data-v-03b808c2="" class="d5-slot-box">
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg5"></div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg6"></div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .foo_options_box {
                margin-top: 37px !important;
            }
        </style>
        <div data-v-03b808c2="" class="bet-box foo_options_box">

            <div data-v-03b808c2="" class="bet-mark">
                <div data-v-03b808c2="" class="mark-box c-row c-row-middle-center" style="display: none;">
                    <span data-v-03b808c2="" class="item m-r-20">0</span>
                    <span data-v-03b808c2="" class="item m-l-20">0</span>
                </div>
                <div data-v-03b808c2="" class="bet-tab">
                    <ul data-v-67c1f5a3="" data-v-03b808c2="" class="K3B__C-nav c-row c-row-between foo_bottom_tab">
                        <div data-v-67c1f5a3="" data-v-03b808c2="" game="1"
                            class="item foo_bottom_tab_buttons  action block-click">Total
                        </div>
                        <div data-v-67c1f5a3="" data-v-03b808c2="" game="2" class="item foo_bottom_tab_buttons">2 Same
                        </div>
                        <div data-v-67c1f5a3="" data-v-03b808c2="" game="3" class="item foo_bottom_tab_buttons">3 Same
                        </div>
                        <div data-v-67c1f5a3="" data-v-03b808c2="" game="4" class="item foo_bottom_tab_buttons">
                            Different
                        </div>
                </div>
            </div>
            <div data-v-03b808c2="" game="1" class="bet-con">
                <div data-v-03b808c2="" class="check-box c-row c-flex-warp c-row-between list-join-total">
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="3" data-join="3">
                            <div data-v-03b808c2="" class="name">3</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">207.36</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="4" data-join="4">
                            <div data-v-03b808c2="" class="name">4</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">69.12</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data-join="5">
                            <div data-v-03b808c2="" class="name">5</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">34.56</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data-join="6">
                            <div data-v-03b808c2="" class="name">6</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">20.74</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data-join="7">
                            <div data-v-03b808c2="" class="name">7</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">13.83</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data-join="8">
                            <div data-v-03b808c2="" class="name">8</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">9.88</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data-join="9">
                            <div data-v-03b808c2="" class="name">9</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">8.3</span></div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data-join="10">
                            <div data-v-03b808c2="" class="name">10</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">7.68</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data-join="11">
                            <div data-v-03b808c2="" class="name">11</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">7.68</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="12" data-join="12">
                            <div data-v-03b808c2="" class="name">12</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">8.3</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="13" data-join="13">
                            <div data-v-03b808c2="" class="name">13</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">9.88</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="14" data-join="14">
                            <div data-v-03b808c2="" class="name">14</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">13.83</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="15" data-join="15">
                            <div data-v-03b808c2="" class="name">15</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">20.74</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="16" data-join="16">
                            <div data-v-03b808c2="" class="name">16</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">34.56</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="17" data-join="17">
                            <div data-v-03b808c2="" class="name">17</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">69.12</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="18" data-join="18">
                            <div data-v-03b808c2="" class="name">18</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">207.36</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="b" data-join="Big">
                            <div data-v-03b808c2="" class="name">Big</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">1.92</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="s" data-join="Small">
                            <div data-v-03b808c2="" class="name">Small</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">1.92</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="l" data-join="lẻ">
                            <div data-v-03b808c2="" class="name">Odd</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">1.92</span>
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="item">
                        <div data-v-03b808c2="" class="li" data="c" data-join="chẵn">
                            <div data-v-03b808c2="" class="name">Even</div>
                            <div data-v-03b808c2="" class="odds">Odds<span data-v-03b808c2="">1.92</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-03b808c2="" game="2" class="bet-con num d-none">
                <div data-v-03b808c2="" class="title">Choose 2 suitable numbers：Odds <span
                        data-v-03b808c2="">13.83</span></div>
                <div data-v-03b808c2="" data="chon-2-so-phu-hop" class="num-box purple c-row c-flex-warp c-row-between">
                    <div data-v-03b808c2="" game="2_1" data="11" class="item">

                        <div data-v-03b808c2="">11</div>
                    </div>
                    <div data-v-03b808c2="" game="2_1" data="22" class="item">

                        <div data-v-03b808c2="">22</div>
                    </div>
                    <div data-v-03b808c2="" game="2_1" data="33" class="item">

                        <div data-v-03b808c2="">33</div>
                    </div>
                    <div data-v-03b808c2="" game="2_1" data="44" class="item">

                        <div data-v-03b808c2="">44</div>
                    </div>
                    <div data-v-03b808c2="" game="2_1" data="55" class="item">

                        <div data-v-03b808c2="">55</div>
                    </div>
                    <div data-v-03b808c2="" game="2_1" data="66" class="item">

                        <div data-v-03b808c2="">66</div>
                    </div>
                </div>
                <div data-v-03b808c2="" class="des">If the lottery result matches 2 numbers you bet, you will
                    win
                    the prize. (Except for three identical numbers).</div>
                <div data-v-03b808c2="" class="title">Choose a unique pair of numbers：Odds <span
                        data-v-03b808c2="">69.12</span></div>
                <div data-v-03b808c2="" hang="1" data="Select 1 unique pair"
                    class="num-box red c-row c-flex-warp c-row-between">
                    <div data-v-03b808c2="" data="11" number="1" game="2_2" class="item">

                        <div data-v-03b808c2="">11</div>
                    </div>
                    <div data-v-03b808c2="" data="22" number="2" game="2_2" class="item">

                        <div data-v-03b808c2="">22</div>
                    </div>
                    <div data-v-03b808c2="" data="33" number="3" game="2_2" class="item">

                        <div data-v-03b808c2="">33</div>
                    </div>
                    <div data-v-03b808c2="" data="44" number="4" game="2_2" class="item">

                        <div data-v-03b808c2="">44</div>
                    </div>
                    <div data-v-03b808c2="" data="55" number="5" game="2_2" class="item">

                        <div data-v-03b808c2="">55</div>
                    </div>
                    <div data-v-03b808c2="" data="66" number="6" game="2_2" class="item">

                        <div data-v-03b808c2="">66</div>
                    </div>
                </div>
                <div data-v-03b808c2="" hang="2" data="chon-1-cap-duy-nhat"
                    class="num-box green c-row c-flex-warp c-row-between">
                    <div data-v-03b808c2="" data="1" number="1" game="2_2" class="item">

                        <div data-v-03b808c2="">1</div>
                    </div>
                    <div data-v-03b808c2="" data="2" number="2" game="2_2" class="item">

                        <div data-v-03b808c2="">2</div>
                    </div>
                    <div data-v-03b808c2="" data="3" number="3" game="2_2" class="item">

                        <div data-v-03b808c2="">3</div>
                    </div>
                    <div data-v-03b808c2="" data="4" number="4" game="2_2" class="item">

                        <div data-v-03b808c2="">4</div>
                    </div>
                    <div data-v-03b808c2="" data="5" number="5" game="2_2" class="item">

                        <div data-v-03b808c2="">5</div>
                    </div>
                    <div data-v-03b808c2="" data="6" number="6" game="2_2" class="item">

                        <div data-v-03b808c2="">6</div>
                    </div>
                </div>
                <div data-v-03b808c2="" class="des">*Select at least 1 pair of identical numbers and 1 different
                    number to place a bet. If the lottery result matches the numbers you bet, you will win the
                    prize.</div>
            </div>
            <div data-v-03b808c2="" game="3" class="bet-con num d-none">
                <div data-v-03b808c2="" class="title">Choose 3 unique numbers：odds <span
                        data-v-03b808c2="">207.36</span></div>
                <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                    <div data-v-03b808c2="" data="111" class="item">

                        <div data-v-03b808c2="">111</div>
                    </div>
                    <div data-v-03b808c2="" data="222" class="item">

                        <div data-v-03b808c2="">222</div>
                    </div>
                    <div data-v-03b808c2="" data="333" class="item">

                        <div data-v-03b808c2="">333</div>
                    </div>
                    <div data-v-03b808c2="" data="444" class="item">

                        <div data-v-03b808c2="">444</div>
                    </div>
                    <div data-v-03b808c2="" data="555" class="item">

                        <div data-v-03b808c2="">555</div>
                    </div>
                    <div data-v-03b808c2="" data="666" class="item">

                        <div data-v-03b808c2="">666</div>
                    </div>
                </div>
                <div data-v-03b808c2="" class="des">* If the lottery result matches the 3 numbers you bet, you
                    will
                    win the prize.</div>
                <div data-v-03b808c2="" class="title">Choose 3 identical numbers: Odds <span
                        data-v-03b808c2="">34.56</span></div>
                <div data-v-03b808c2="" class="chon-3-so-giong-nhau num-box red c-row c-flex-warp c-row-between">
                    <div data-v-03b808c2="" class="li">

                        <div data-v-03b808c2="">Choose 3 identical numbers</div>
                    </div>
                </div>
                <div data-v-03b808c2="" class="des">*If the winning numbers are any three identical numbers, you
                    will win the prize.</div>
            </div>
            <div data-v-03b808c2="" game="4" class="bet-con num d-none">
                <div data-v-03b808c2="" class="title">Choose 3 different numbers: Odds<span
                        data-v-03b808c2="">34.56</span></div>
                <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                    <div data-v-03b808c2="" data="1" class="item">

                        <div data-v-03b808c2="">1</div>
                    </div>
                    <div data-v-03b808c2="" data="2" class="item">

                        <div data-v-03b808c2="">2</div>
                    </div>
                    <div data-v-03b808c2="" data="3" class="item">

                        <div data-v-03b808c2="">3</div>
                    </div>
                    <div data-v-03b808c2="" data="4" class="item">

                        <div data-v-03b808c2="">4</div>
                    </div>
                    <div data-v-03b808c2="" data="5" class="item">

                        <div data-v-03b808c2="">5</div>
                    </div>
                    <div data-v-03b808c2="" data="6" class="item">

                        <div data-v-03b808c2="">6</div>
                    </div>
                </div>
                <div data-v-03b808c2="" class="des">Choose 3 or more numbers. If the three numbers in the
                    lottery
                    result are different and match the numbers you've chosen, then you win the prize.</div>
                <div data-v-03b808c2="" class="title">Choose 3 consecutive numbers: Odds <span
                        data-v-03b808c2="">8.64</span></div>
                <div data-v-03b808c2="" class="chon-3-so-lien-tiep num-box red c-row c-flex-warp c-row-between">
                    <div data-v-03b808c2="" class="li">

                        <div data-v-03b808c2="">Choose 3 consecutive numbers.</div>
                    </div>
                </div>
                <div data-v-03b808c2="" class="des">*If the winning numbers are any three consecutive numbers,
                    then
                    you win the prize.</div>
                <div data-v-03b808c2="" class="title">Choose 2 different numbers: Odd<span
                        data-v-03b808c2="">6.91</span></div>
                <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                    <div data-v-03b808c2="" data="1" class="item">

                        <div data-v-03b808c2="">1</div>
                    </div>
                    <div data-v-03b808c2="" data="2" class="item">

                        <div data-v-03b808c2="">2</div>
                    </div>
                    <div data-v-03b808c2="" data="3" class="item">

                        <div data-v-03b808c2="">3</div>
                    </div>
                    <div data-v-03b808c2="" data="4" class="item">

                        <div data-v-03b808c2="">4</div>
                    </div>
                    <div data-v-03b808c2="" data="5" class="item">

                        <div data-v-03b808c2="">5</div>
                    </div>
                    <div data-v-03b808c2="" data="6" class="item">

                        <div data-v-03b808c2="">6</div>
                    </div>
                </div>
                <div data-v-03b808c2="" class="des">*Choose 2 or more numbers, if two numbers in the lottery
                    result
                    are different and match the numbers you've chosen, then you win the prize.</div>
            </div>
        </div>
        <style>
            .foo_bottom_tab {
                gap: 10px;
            }

            .foo_bottom_tab_buttons {
                flex: 1 !important;
                border-radius: .13333rem;
            }
        </style>
    </div>
</div>
</div>     <div data-v-03b808c2="" class="game-list p-b-20">
    <div data-v-a9660e98="" class="tab_nav">
        <div data-v-a9660e98="" class="tab_nav_button" id="game_history_tab_button">
            <span data-v-a9660e98="" class="tab_nav_button_inner action"> Game History </span>
        </div>
       <div data-v-a9660e98="" class="tab_nav_button" id="trend_tab_button">
            <span data-v-a9660e98="" class="tab_nav_button_inner"> Trend </span>
        </div>
        <div data-v-a9660e98="" class="tab_nav_button" id="my_bets_tab_button">
            <span data-v-a9660e98="" class="tab_nav_button_inner"> My History </span>
        </div>
    </div>

    <style>
        .tab_panel {
            display: none;
        }

        .tab_panel.active {
            display: block;
        }

        .tab_nav {
            font-family: Avenir, Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: .37333rem;
            color: #000000;
            margin: 0;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            box-sizing: border-box;
            -webkit-user-select: none;
            display: flex;
            justify-content: space-between;
            touch-action: pan-y;
            padding: 10px 10px;
        }

        .tab_nav_button {
            font-family: Avenir, Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: .37333rem;
            color: #000000;
            margin: 0;
            padding: 0;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            box-sizing: border-box;
            -webkit-user-select: none;
            display: flex;
            justify-content: center;
            touch-action: pan-y;
            width: 32%;
        }

        .tab_nav_button_inner {
            font-family: Avenir, Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            box-sizing: border-box;
            -webkit-user-select: none;
            touch-action: pan-y;
            display: block;
            text-align: center;
            width: 100%;
            background: rgb(63 147 104 / 8%);
            color: #6e6e6e;
            overflow: hidden;
            font-size: 0.305rem;
            border-radius: 9px;
            padding: 12px 4px;
            line-height: 1;
        }

        .tab_nav_button_inner.action {
            font-weight: 600;
            background: rgb(63 147 104);
            color: #fff;
            /* background-color: #fbedf3; */
            /* border: 0.02667rem solid #fb4e4e; */
            /* box-shadow: 0.02667rem 0.02667rem 0.13333rem 0.13333rem #fbedf3; */
        }

        .info_data__root {
            box-shadow: 0px 3px 90px #00000021;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: .25rem;
            overflow: hidden;
        }

        #my_bets__root {
            box-shadow: 0px 3px 90px #00000021;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: .25rem;
            overflow: hidden;
        }
    </style>
    <div data-v-03b808c2="" class="tab_panel active" id="game_history_tab">
        <div data-v-03b808c2="" class="list m-t-10 info_data__root">
            <div data-v-03b808c2="" class="wrap header-history">
                <div data-v-03b808c2="" class="c-tc van-row">
                    <div data-v-03b808c2="" class="van-col van-col--6"> Period</div>
                    <div data-v-03b808c2="" class="van-col van-col--4"> Sum </div>
                    <div data-v-03b808c2="" class="van-col van-col--5"> Big/Small </div>
                    <div data-v-03b808c2="" class="van-col van-col--4"> Odd/Even </div>
                    <div data-v-03b808c2="" class="van-col van-col--5"> Results </div>
                </div>
            </div>
            <div data-v-03b808c2="">
                <div data-v-03b808c2="" class="hb" id="list_order">
                    <!---->
                </div>

            </div>
        </div>
        <div data-v-03b808c2="" class="page-nav c-row c-row-center c-tc" id="game_history__bottom_nav">
            <div data-v-03b808c2="" class="arr c-row c-row-middle-center previous_page">
                <i data-v-03b808c2="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px;"></i>
            </div>
            <div data-v-03b808c2="" class="number" id="number_result__gameHistory" data-select="all">1</div>
            <div data-v-03b808c2="" class="arr c-row c-row-middle-center action next_page">
                <i data-v-03b808c2="" class="van-icon van-icon-arrow icon action" style="font-size: 20px;"></i>
            </div>
        </div>
    </div>
    <div data-v-03b808c2="" class="tab_panel" id="my_bets_tab">

        <div data-v-03b808c2="" class="list m-t-10">
            <div data-v-03b808c2="" class="p-t-5 p-b-5">
                <div data-v-03b808c2="" class="hb" id="my_bets__root">

                    <div data-v-03b808c2="" class="van-empty">
                        <div class="van-empty__image">
                            <img src="https://img.yzcdn.cn/vant/empty-image-default.png">
                        </div>
                        <p class="van-empty__description">No data</p>
                    </div>
                </div>
            </div>

            <div data-v-03b808c2="" class="page-nav c-row c-row-center c-tc" id="my_bets__bottom_nav">
                <div data-v-03b808c2="" class="arr c-row c-row-middle-center previous_page">
                    <i data-v-03b808c2="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px;"></i>
                </div>
                <div data-v-03b808c2="" class="number" id="number_result__myBet" data-select="all">1</div>
                <div data-v-03b808c2="" class="arr c-row c-row-middle-center action next_page">
                    <i data-v-03b808c2="" class="van-icon van-icon-arrow icon action" style="font-size: 20px;"></i>
                </div>
            </div>
            <!-- <div data-v-03b808c2="" class="list-fooder"></div> -->
        </div>

    </div>
</div>           <div data-v-03b808c2="" class="van-popup van-popup--round van-popup--bottom pop-total"
    style="max-width: 10rem; left: auto; box-shadow: rgba(63, 69, 83, 0.3) 0px -10px 20px 0px; z-index: 2004;transform: translateY(400px);transition: transform .5s,-webkit-transform .5s;"
    >
    <div data-v-03b808c2="" class="betting-mark">
        <div data-v-03b808c2="" class="info">
            <div data-v-03b808c2="" class="Bet-box">
                <ul data-v-03b808c2="" class="c-row c-flex-warp c-row-middle list-join-ao">
                    <span data-v-03b808c2="" game="1">Sum：</span>
                    <span data-v-03b808c2="" game="2_1" class="d-none">Choose 2 suitable numbers：</span>
                    <span data-v-03b808c2="" game="3" class="d-none">Choose 3 unique numbers：</span>
                    <span data-v-03b808c2="" game="4" class="d-none">Choose 3 different numbers：</span>
                </ul>
                <ul data-v-03b808c2="" class="c-row c-flex-warp c-row-middle d-none" game="2_2">
                    
                </ul>
                <ul data-v-03b808c2="" class="c-row c-flex-warp c-row-middle d-none" game="4">
                    <span data-v-03b808c2="">Choose 2 different numbers：</span>
                </ul>
                <div data-v-03b808c2="" class="actionBtn d-none">Choose 3 identical numbers</div>
            </div>
            <div data-v-03b808c2="" class="item c-row c-row-between">
                <div data-v-03b808c2="" class="tit">Amount</div>
                <div data-v-03b808c2="" class="c-row amount-box">
                    <div data-v-03b808c2="" value="1" class="li action">1</div>
                    <div data-v-03b808c2="" value="10" class="li">10</div>
                    <div data-v-03b808c2="" value="100" class="li">100</div>
                    <div data-v-03b808c2="" value="1000" class="li">1000</div>
                </div>
            </div> 
            <div data-v-03b808c2="" class="item c-row c-row-between">
                <div data-v-03b808c2="" class="tit">Quantity</div>
                <div data-v-03b808c2="" class="c-row c-row-between stepper-box minus-plus">
                    <div data-v-03b808c2="" class="li minus">-</div>
                    <div data-v-03b808c2="" class="digit-box van-cell van-field">
                        <div class="van-cell__value van-cell__value--alone van-field__value">
                            <div class="van-field__body">
                                <input type="tel" value="1" oninput="value=value.replace(/\D/g,'')" inputmode="numeric" class="van-field__control xvalue">
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="li plus c-row c-row-middle-center action">+</div>
                </div>
            </div>
            <div data-v-03b808c2="" class="item c-row c-flew-end">
                <div data-v-03b808c2="" class="c-row multiple-box">
                    <div data-v-03b808c2="" value="1" class="li action">X1</div>
                    <div data-v-03b808c2="" value="5" class="li">X5</div>
                    <div data-v-03b808c2="" value="10" class="li">X10</div>
                    <div data-v-03b808c2="" value="20" class="li">X20</div>
                    <div data-v-03b808c2="" value="50" class="li">X50</div>
                    <div data-v-03b808c2="" value="100" class="li">X100</div>
                </div>
            </div>
            <div data-v-03b808c2="" class="item c-row c-row-middle">
                <div data-v-03b808c2="" role="checkbox" tabindex="0" aria-checked="true" class="van-checkbox">
                    <div class="van-checkbox__icon van-checkbox__icon--square van-checkbox__icon--checked">
                        <i
                            class="van-icon van-icon-success"
                            style="border-color: rgb(244, 69, 62); background-color: rgb(244, 69, 62);">
                        </i>
                    </div>
                    <span class="van-checkbox__label">
                        <div data-v-03b808c2="" class="agree p-r-15">I agree</div>
                    </span>
                </div><span data-v-03b808c2="" class="txt txt-qu-ytac">Pre-Selling Rules</span>
            </div>
        </div> 
        <div data-v-03b808c2="" class="foot c-row">
            <div data-v-03b808c2="" class="left canned"> Cancel </div>
            <div data-v-03b808c2="" class="right c-row c-row-middle-center confirm">
                <span data-v-03b808c2="" class="p-r-5">Total Amount</span>
                <span data-v-03b808c2="" value="" class="result">1</span>
                <span class="info-bet" xvalue="1" money="1"></span>
            </div>
        </div>
    </div>
</div> 

<div role="dialog" tabindex="0" class="van-popup van-popup--round van-popup--bottom" data-v-fb6cae46=""
    style="z-index: 2003; box-shadow: rgba(37, 37, 60, 0.26) 0px -18px 40px;">
    <div data-v-fb6cae46="" class="Betting__Popup-body">
        <div data-v-fb6cae46="" class="Betting__Popup-type1">
            <p data-v-fb6cae46="" class="title">Total:</p>
            <div data-v-fb6cae46="" class="list">
                <div data-v-fb6cae46="" class="red num3">3</div>
            </div>
        </div>
        <div data-v-fb6cae46="" class="Betting__Popup-body-line">Balance <div data-v-fb6cae46=""
                class="Betting__Popup-body-line-list">
                <div data-v-fb6cae46="" class="Betting__Popup-body-line-item bgcolor">5</div>
                <div data-v-fb6cae46="" class="Betting__Popup-body-line-item">10</div>
                <div data-v-fb6cae46="" class="Betting__Popup-body-line-item">100</div>
                <div data-v-fb6cae46="" class="Betting__Popup-body-line-item">1000</div>
            </div>
        </div>
        <div data-v-fb6cae46="" class="Betting__Popup-body-line">Quantity <div data-v-fb6cae46=""
                class="Betting__Popup-body-line-btnL">
                <div data-v-fb6cae46="" class="Betting__Popup-btn bgcolor">-</div>
                <div data-v-fb6cae46="" class="van-cell van-field Betting__Popup-input">
                    <div class="van-cell__value van-field__value">
                        <div class="van-field__body"><input type="tel" inputmode="numeric" id="van-field-1-input"
                                class="van-field__control"></div>
                    </div>
                </div>
                <div data-v-fb6cae46="" class="Betting__Popup-btn bgcolor">+</div>
            </div>
        </div>
        <div data-v-fb6cae46="" class="Betting__Popup-body-line">
            <div data-v-fb6cae46=""></div>
            <div data-v-fb6cae46="" class="Betting__Popup-body-line-list">
                <div data-v-fb6cae46="" class="Betting__Popup-body-line-item bgcolor"> X1</div>
                <div data-v-fb6cae46="" class="Betting__Popup-body-line-item"> X5</div>
                <div data-v-fb6cae46="" class="Betting__Popup-body-line-item"> X10</div>
                <div data-v-fb6cae46="" class="Betting__Popup-body-line-item"> X20</div>
                <div data-v-fb6cae46="" class="Betting__Popup-body-line-item"> X50</div>
                <div data-v-fb6cae46="" class="Betting__Popup-body-line-item"> X100</div>
            </div>
        </div>
        <div data-v-fb6cae46="" class="Betting__Popup-body-line"><span data-v-fb6cae46=""
                class="Betting__Popup-agree active">I agree</span><span data-v-fb6cae46=""
                class="Betting__Popup-preSaleShow">《Pre-sale rules》</span></div>
    </div>
    <div data-v-fb6cae46="" class="Betting__Popup-foot">
        <div data-v-fb6cae46="" class="Betting__Popup-foot-c">Cancel</div>
        <div data-v-fb6cae46="" class="Betting__Popup-foot-s bgcolor">Total amount ₹5.00</div>
    </div>
</div>
           

<div class="van-overlay" style="z-index: 2001;display: none;"></div>
<div data-v-03b808c2="" class="van-popup van-popup--center pop-quytac" style="display: none;width: 80%; border-radius: 10px; max-width: 340px; z-index: 2002;"><div data-v-03b808c2="" class="rule-box"><div data-v-03b808c2="" class="title c-row c-row-middle-center">Rules</div><div data-v-03b808c2="" class="info"><div data-v-03b808c2="" class="comment"><div data-v-03b808c2=""><div data-v-03b808c2=""><p class="MsoNormal"><font face="宋体">In each Fast 3 lottery draw, there will be three numbers randomly drawn from 111 to 666, excluding the number 0. The drawn numbers are not in any specific order. Fast 3 is a game where you can guess all or part of the three winning numbers.</font></p><p class="MsoNormal"><font face="宋体">Total bet</font></p><p class="MsoNormal"><font face="宋体">Bet on the total sum of 3 dice</font></p><p class="MsoNormal"><font face="宋体">Bet on the entire set of 3 (numbers/dice/etc.)</font></p><p class="MsoNormal"><font face="宋体">The players place a bet on a group of identical triples, such as: (111, 222, ..., 666), covering all possible triples, and proceed with the betting</font></p><p class="MsoNormal"><font face="宋体">Bet on a single triple set</font></p><p class="MsoNormal"><font face="宋体">The player chooses one of all possible triple sets (111, ..., 666) and proceeds with the betting</font></p><p class="MsoNormal"><font face="宋体">Bet on two numbers</font></p><p class="MsoNormal"><font face="宋体">Place a bet on three numbers, including two specified pairs and one random number</font></p><p class="MsoNormal"><font face="宋体">Bet on two pairs + 1 single number</font></p><p class="MsoNormal"><font face="宋体">Place a bet on three specified numbers, including two pairs and one other number.</font></p><p class="MsoNormal"><font face="宋体">Betting on 3 different numbers</font></p><p class="MsoNormal"><font face="宋体">Place a bet on three completely different numbers</font></p><p class="MsoNormal"><font face="宋体">Bet on 2 different numbers</font></p><p class="MsoNormal"><font face="宋体">Place a bet on 2 different numbers + 1 other number combined in one betting ticket</font></p><p class="MsoNormal"><font face="宋体">Betting on 3 consecutive numbers</font></p><p class="MsoNormal"><font face="宋体">Betting is placed on the consecutive numbers [123, 234, 345, 456].<br></font><br></p></div></div><div data-v-03b808c2=""><!----></div><div data-v-03b808c2=""><!----></div><div data-v-03b808c2=""><!----></div></div><div data-v-03b808c2="" class="rule-btn c-row m-t-20 c-row-center"><button data-v-03b808c2="" class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="color: rgb(255, 255, 255); background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);"><div data-v-03b808c2="" class="van-button__content"><span data-v-03b808c2="" class="van-button__text"><span data-v-03b808c2="">Rules</span></span></div></button></div></div></div></div>
<div data-v-03b808c2="" class="van-popup van-popup--center pop-quytac-buy" style="display: none;width: 80%; border-radius: 10px; max-width: 340px; z-index: 2016;"><div data-v-03b808c2="" class="rule-box"><div data-v-03b808c2="" class="title c-row c-row-middle-center">Pre-selling rules</div><div data-v-03b808c2="" class="info"><div data-v-03b808c2="" class="comment"> To protect the legitimate rights and interests of users participating in pre-selling and maintain the normal operation of pre-selling activities, the rules are established in accordance with relevant agreements and regulations of the law, as well as national provisions.

Chapter 1: Definitions
1.1 Pre-selling definition: Refers to the sales model in which the seller provides a product or service package to collect orders from consumers through pre-selling tools and delivers the goods or services to the buyer according to pre-agreed terms.
1.2 Pre-selling model is the "Consignment" model. The term "Consignment" refers to a fixed amount of pre-sold goods that are predetermined. "Consignment" can participate in small games and has the opportunity to gain more profits. The consigned amount can be directly exchanged for goods, but the consigned money cannot be used for exchange.
1.3 Pre-selling products: These are products provided by the seller using pre-selling tools. Only products labeled as pre-selling on the title or product detail page are considered pre-selling products. Other products that do not use pre-selling tools are not pre-selling products.
1.4 Pre-selling system: Refers to the system of pre-selling tools provided to support sales according to the pre-selling model.
1.5 Pre-selling price of goods: The price of the goods before the sale. The pre-selling price of goods includes two parts: the selling price and the payment. </div><div data-v-03b808c2="" class="rule-btn c-row m-t-20 c-row-center"><button data-v-03b808c2="" class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="color: rgb(255, 255, 255); background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);"><div data-v-03b808c2="" class="van-button__content"><span data-v-03b808c2="" class="van-button__text"><span data-v-03b808c2="">I know</span></span></div></button></div></div></div></div>

<div data-v-7692a079="" data-v-806b9f0e="" class="Loading c-row c-row-middle-center" style="">
    <div data-v-7692a079="" class="van-loading van-loading--circular">
        <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="color: rgb(242, 65, 59);">
            <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
                <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
            </svg>
        </span>
    </div>
</div>    </div>
  </div>

  <style>
    .modal-backdrop {
        width: 100%;
        height: 100%;
        background: #00000089;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 100;
        display: none;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .modal-popup_img {
        z-index: -1;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        filter: hue-rotate(320deg) saturate(2.5);
    }

    .modal-popup {
        /* 
        background: rgb(8, 90, 187);
        background: linear-gradient(100deg, rgba(8, 90, 187, 1) 0%, rgba(119, 202, 255, 1) 100%);*/
        z-index: 101;
        border-radius: 20px;
        padding-bottom: 10px;
        padding-inline: 30px;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        position: relative;
    }

    .modal-popup__title {
        color: #ffffff;
        font-size: 0.65rem;
        margin-top: 140px;
        margin-top: 110px;
        text-align: center;
        width: 222px;
        /* height: 71px; */
        height: fit-content;
    }

    .modal-result_img {
        width: 60px;
        height: 60px;
        margin-top: 10px;
    }

    .modal-popup__msg {
        color: #f30000;
        font-size: 0.45rem;
        margin-top: 40px;
    }

    .modal-popup__amount {
        color: #f30000;
        font-size: 0.75rem;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-bottom: 5px;
        padding-inline: 30px;
        padding-top: 10px;
        margin-top: 40px;
    }

    .win .loss_item {
        display: none;
    }

    .loss .win_item {
        display: none;
    }

    .modal-backdrop.open {
        display: flex;
    }

    .modal-backdrop-close_button {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0px;
        bottom: 0px;
    }

    .modal-popup__period {
        margin-top: 40px;
        font-size: 17px;
        color: #fff;
    }

    .popup_result_img {
        width: 35px;
        height: 35px;
        filter: drop-shadow(4px 4px 6px #fb2c2d);
    }

    .modal-popup__result {
        display: flex;
        gap: 10px;
        margin-top: 30px;
    }

    .popup_result_img.img1 {
        background: url(/images/1.c33ac1e3.png) no-repeat 50%;
        background-size: 100% 100%
    }

    .popup_result_img.img2 {
        background: url(/images/2.a3dbd317.png) no-repeat 50%;
        background-size: 100% 100%
    }

    .popup_result_img.img3 {
        background: url(/images/3.6e9f4676.png) no-repeat 50%;
        background-size: 100% 100%
    }

    .popup_result_img.img4 {
        background: url(/images/4.49ad5147.png) no-repeat 50%;
        background-size: 100% 100%
    }

    .popup_result_img.img5 {
        background: url(/images/5.135b3ae6.png) no-repeat 50%;
        background-size: 100% 100%
    }

    .popup_result_img.img6 {
        background: url(/images/6.bbf99ab0.png) no-repeat 50%;
        background-size: 100% 100%
    }
</style>

<!-- The Modal -->
<div id="result_modal" class="modal-backdrop">
    <div id="result_modal_close_button" class="modal-backdrop-close_button"></div>
    <!-- Modal content -->
    <div class="modal-popup">
        <img src="/missningBg-9deda6ac.png" alt="Popup Image" class="modal-popup_img" />

        <h3 class="modal-popup__title">
            Congratulations
            <!-- <br />
            😊 -->
        </h3>


        <div class="modal-popup__result">
        </div>

       <h3 class="modal-popup__title loss_item">
            So Sad
            <br />
            😔
        </h3>

         <h6 class="modal-popup__msg win_item">You won</h6> 

      <h6 class="modal-popup__msg loss_item">You loss</h6> 

        <h4 class="modal-popup__amount" id="modal_amount">600</h4>
        <h4 class="modal-popup__period" id="period_pop">2022070158454</h4>
    </div>
</div>


<script>
    // Get the modal
    var modal = document.getElementById("result_modal")
    var closeButton = document.getElementById("result_modal_close_button")

    // When the user clicks anywhere outside of the modal, also close it
    closeButton.addEventListener("click", () => {
        modal.classList.remove("open")
    })
</script>
    <script src="/k3/js/main.js"></script>
    <script src="/k3/js/chuck.js"></script>
</body>

</html>