<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" style="font-size: 40.5px;">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <meta name="google" content="notranslate">
  <meta name="robots" content="noindex,nofollow">
  	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>Slots</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="https://winxrummy.com/gamecat/index_files/modules-96c1e775.css">
  <link rel="stylesheet" href="https://winxrummy.com/gamecat/index_files/page-activity-d48e62db.css">
  <link rel="stylesheet" href="https://winxrummy.com/gamecat/index_files/index-96409872.css">
  <link rel="stylesheet" href="https://winxrummy.com/gamecat/index_files/page-home-58543d87.css">


  <link rel="stylesheet" href="https://winxrummy.com/gamecat/assets/css/_vite_template-88676b31.css">
  <link rel="stylesheet" href="https://winxrummy.com/gamecat/assets/css/index-3cf8aaa6.css"> 
  <link rel="stylesheet" href="https://winxrummy.com/gamecat/assets/css/index-8d0b9742.css"> 
  <link rel="stylesheet" href="https://winxrummy.com/gamecat/assets/css/index-d27f4bf1.css">   
  <link rel="stylesheet" href="https://winxrummy.com/gamecat/assets/css/NavBar-c40aa6d4.css"> 
  <link rel="stylesheet" href="https://winxrummy.com/gamecat/assets/css/index-dc81589f.css">
  
  <style>

.fun-tabs {
    
    background: #212838;
}
.fun-tabs {
    overflow: auto !important;
    position: relative;
    width: 100%;
    
}
.luckyWinners__container {
    padding: 0.4rem !important;
}
.dailyProfitRank {
    padding: 0.3rem;
    
}
.terms {
    padding: 0.5rem !important;
    
}
.settingPanel__container.panel-daman {
    padding: 0.5rem !important;
    
}

.tab_item {
    background: #2b3449;
    
}

.onlineGames__container[data-v-6dbd07ea] .tabs .tab_item {
    
    height: 1.53333rem !important;
    
}
.settingPanel__container-items {
    margin-bottom: 3.5rem;
    
}
 
  </style>

</head>
<!-- Dialog HTML -->


<body style="font-size: 12px;" class="">
  
  <div id="app" data-v-app="">
    
    <!---->
    <div data-v-6dbd07ea="" class="onlineGames__container" style="--f817f0ee: 'Roboto', 'Inter', sans-serif;  " >
      <div data-v-81ead1cb="" data-v-6dbd07ea="" class="navbar">
        <div data-v-81ead1cb="" class="navbar-fixed wc" style="background: #2b3449;">
          <div data-v-81ead1cb="" class="navbar__content">
            <div data-v-81ead1cb="" class="navbar__content-left" onclick="location.href='/home'">
              <i data-v-81ead1cb="" class="van-badge__wrapper van-icon van-icon-arrow-left">
                <!---->
                <!---->
                <!---->
              </i>
            </div>
            <div data-v-81ead1cb="" class="navbar__content-center">
              <!---->
              <span data-v-6dbd07ea="" class="">
                Slots
              </span>
              <input data-v-6dbd07ea="" type="text" placeholder="Search game" class="">
            </div>
            <div data-v-81ead1cb="" class="navbar__content-right">
              <i data-v-6dbd07ea="" class="van-badge__wrapper van-icon">
                <!---->
                <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp"
                                style="width:.66667rem;height:.66667rem">
                <!---->
              </i>
              
            </div>
          </div>
        </div>
      </div>
      <div data-v-6dbd07ea="">
        <div data-v-6dbd07ea="" class="fun-tabs tabs">
          <div class="fun-tabs__tab-list" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">

           
                <div class="fun-tab-item funtab_item">
                <div class="fun-tab-item__wrap">
                  <div class="fun-tab-item__label">
                    <div data-v-6dbd07ea="" class="tab_item tab_active" onclick="location.href='/slots'">
                      <img data-v-6dbd07ea="" src="/assets/png/slots.png" style="display: block; width: 40px;">
                      <span data-v-6dbd07ea="">
                        Slot Games
                      </span>
                    </div>
                  </div>
                  
                  <!--v-if-->
                </div>
              </div>
             
            
          </div>
        </div>
        <div data-v-6dbd07ea="" class="fun-tabs tab-type">
          <div class="fun-tabs__tab-list" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            <div class="fun-tabs__active-line" style="transition: all 300ms ease 0s; width: 0px; height: 3px; transform: translate3d(0px, 0px, 0px); background-color: rgb(22, 119, 255);">
            </div>
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
  
       
           
            <main id="games-container"  style="    display: grid;
            justify-items: center;
            grid-template-columns: repeat(3, 1fr);
            gap: .26667rem .21333rem;
            height: auto;
            overflow-y: auto;
                background-color: #212838;
            padding: 0 .16rem;" >
                <!-- Game cards will be injected here -->
            </main>
        </div>
        <script>
            const userInfoTypes = {
                phoneNumber: "phone_user",
                username: "name_user",
                userId: "id_user",
            };
            let userData = null;
    
            const fetchUser = async () => {
                try {
                    const response = await axios.get('/api/webapi/GetUserInfo');
                    userData = response?.data?.data;
                    if (!userData) throw Error("User data not found!");
                    displayGames();
                } catch (error) {
                    console.log(error);
                }
            };
    
            const displayGames = () => {
                const mobile = encodeURIComponent(userData[userInfoTypes.phoneNumber]);
    
                const agentId = 'ssswinguru_Seamless';
                const agentKey = 'ab8bef616222fc9f191afe9de9c58adf67061563';
                const referrerUrl = 'https://api.ssswin.in';
            
            
            
    
                const baseUrl = "https://fusion.imitator-host.site/post";
                const imageBaseUrl = "https://ossimg.tirangaagent.com/Tiranga/gamelogo/JILI/";
                const gameIds = [
                  2, 4, 5, 6, 9, 10, 13, 14, 17, 21, 23, 26, 27, 30, 33, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 49,
                51, 58, 16, 67, 77, 78, 85, 91, 100, 102, 103, 109, 92, 76, 108, 115, 106, 110, 134, 101, 87, 130, 116,
                137, 135, 153, 126, 144, 142, 146, 136, 145, 166, 164, 183, 181, 176, 223, 198, 225, 172, 230, 191, 193,
                238, 209,  239,303, 171, 214, 259, 226, 228, 208, 258, 252, 301, 300, 399, 299, 420, 263, 180, 403, 302
                ];
    
                const container = document.getElementById('games-container');
                container.innerHTML = '';
    
                gameIds.forEach(gameId => {
                    const paddedGameId = gameId < 10 ? `${gameId}` : gameId;
                    const imagePath = `${imageBaseUrl}${paddedGameId}.png`;
                    const gameUrl = `${baseUrl}?gameId=${gameId}&mobile=${mobile}&agentId=${agentId}&agentKey=${agentKey}&referrerUrl=${referrerUrl}`;
                    const cardHtml = `
                        <a href="${gameUrl}" class="jili_games_card">
                            <img src="${imagePath}" alt="Game ${gameId}" onerror="this.style.display='none'">
                        </a>
                    `;
                    container.innerHTML += cardHtml;
                });
            };
    
            fetchUser();
        </script>

</body>

</html>