<!-- <div data-v-a9660e98="" class="box">
    <div data-v-a9660e98="" class="mark-box c-row c-row-middle-center" style="display: none">
        <span data-v-a9660e98="" class="item m-r-20">3</span><span data-v-a9660e98="" class="item m-l-20">6</span>
    </div>
    <div data-v-a9660e98="" class="con-box">
        <div data-v-a9660e98="" class="color-box c-row c-row-between">
            <button data-v-a9660e98="" type="button" data-join="x" class="btn green"></button>
            <button data-v-a9660e98="" type="button" data-join="t" class="btn violet"></button>
            <button data-v-a9660e98="" type="button" data-join="d" class="btn red"></button>
        </div>
    </div>
    <div data-v-a9660e98="" class="btn-box c-row">
        <button data-v-a9660e98="" data-join="l" class="item yellow"></button>
        <button data-v-a9660e98="" data-join="n" class="item green"></button>
    </div>
    <div data-v-a9660e98="" class="number-box action m-t-10 c-row c-row-between c-flex-warp">
        <button data-v-a9660e98="" type="button" class="item action c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt wingo_num num_0">0</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt wingo_num num_1">1</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt wingo_num num_2">2</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt wingo_num num_3">3</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt wingo_num num_4">4</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt wingo_num num_5">5</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt wingo_num num_6">6</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt wingo_num num_7">7</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt wingo_num num_8">8</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt wingo_num num_9">9</span>
            </div>
        </button>
    </div>
    <div data-v-a9660e98="" class="c-row c-row-between random-box x_x_num_main">
        <button data-v-a9660e98="" class="random">
            <img data-v-ff5b4410="" src="/images/random.svg" alt="" class="random_select_image">
        </button>
        <div data-v-a9660e98="" class="c-row x_num_cont">
            <div data-x="1" data-v-a9660e98="" class="item active"
                style="background-color: rgb(63 147 104); color: rgb(255, 255, 255)">
                X1
            </div>
            <div data-x="5" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X5
            </div>
            <div data-x="10" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X10
            </div>
            <div data-x="20" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X20
            </div>
            <div data-x="50" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X50
            </div>
            <div data-x="100" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X100
            </div>
        </div>
    </div>

</div> -->

<div data-v-4aca9bd1="" data-v-40958d9a="" class="Betting__C" voicetype="1" typeid="1">
    <div data-v-4aca9bd1="" class="Betting__C-mark" style="display: none;">
        <div data-v-4aca9bd1="">2</div>
        <div data-v-4aca9bd1="">7</div>
    </div>
    <div data-v-4aca9bd1="" class="Betting__C-head con-box">
        <div data-v-4aca9bd1="" class="Betting__C-head-g bet_button" data-join="x" data-css-value="11">Green</div>
        <div data-v-4aca9bd1="" class="Betting__C-head-p bet_button" data-join="t" data-css-value="12">Violet</div>
        <div data-v-4aca9bd1="" class="Betting__C-head-r bet_button" data-join="d" data-css-value="10">Red</div>
    </div>
    <div data-v-4aca9bd1="" class="Betting__C-numC number-box">
        <div data-v-4aca9bd1="" class="Betting__C-numC-item0 bet_button" data-join="0" data-css-value="0"></div>
        <div data-v-4aca9bd1="" class="Betting__C-numC-item1 bet_button" data-join="1" data-css-value="1"></div>
        <div data-v-4aca9bd1="" class="Betting__C-numC-item2 bet_button" data-join="2" data-css-value="2"></div>
        <div data-v-4aca9bd1="" class="Betting__C-numC-item3 bet_button" data-join="3" data-css-value="3"></div>
        <div data-v-4aca9bd1="" class="Betting__C-numC-item4 bet_button" data-join="4" data-css-value="4"></div>
        <div data-v-4aca9bd1="" class="Betting__C-numC-item5 bet_button" data-join="5" data-css-value="5"></div>
        <div data-v-4aca9bd1="" class="Betting__C-numC-item6 bet_button" data-join="6" data-css-value="6"></div>
        <div data-v-4aca9bd1="" class="Betting__C-numC-item7 bet_button" data-join="7" data-css-value="7"></div>
        <div data-v-4aca9bd1="" class="Betting__C-numC-item8 bet_button" data-join="8" data-css-value="8"></div>
        <div data-v-4aca9bd1="" class="Betting__C-numC-item9 bet_button" data-join="9" data-css-value="9"></div>
    </div>
    <div data-v-4aca9bd1="" class="Betting__C-multiple ">
        <div data-v-4aca9bd1="" class="Betting__C-multiple-l random randomBtn">Random</div>
        <div data-v-4aca9bd1="" data-x="1" class="Betting__C-multiple-r active"> X1</div>
        <div data-v-4aca9bd1="" data-x="5" class="Betting__C-multiple-r"> X5</div>
        <div data-v-4aca9bd1="" data-x="10" class="Betting__C-multiple-r"> X10</div>
        <div data-v-4aca9bd1="" data-x="20" class="Betting__C-multiple-r"> X20</div>
        <div data-v-4aca9bd1="" data-x="50" class="Betting__C-multiple-r"> X50</div>
        <div data-v-4aca9bd1="" data-x="100" class="Betting__C-multiple-r"> X100</div>
    </div>
    <div data-v-4aca9bd1="" class="Betting__C-foot btn-box">
        <div data-v-4aca9bd1="" class="Betting__C-foot-b bet_button" data-join="l" data-css-value="13">Big</div>
        <div data-v-4aca9bd1="" class="Betting__C-foot-s bet_button" data-join="n" data-css-value="14">Small</div>
    </div>
    <div class="van-overlay" data-v-e49b49d6="" style="z-index: 2002;display: none;"></div>
    <div role="dialog" tabindex="0" class="popup-join van-popup van-popup--round van-popup--bottom" data-v-e49b49d6=""
        style="z-index: 2002;display: none;">
        <div data-v-e49b49d6="" class="Betting__Popup-0">
            <div data-v-e49b49d6="" class="Betting__Popup-head">
                <div data-v-e49b49d6="" class="Betting__Popup-head-title">Win Go 1Min</div>
                <div data-v-e49b49d6="" class="Betting__Popup-head-selectName"><span
                        data-v-e49b49d6="">Select</span><span data-v-e49b49d6="" id="betting_value">0</span></div>
            </div>
            <div data-v-e49b49d6="" class="Betting__Popup-body">
                <div data-v-e49b49d6="" class="Betting__Popup-body-line">
                    Balance
                    <div data-v-e49b49d6="" class="Betting__Popup-body-line-list Betting__Popup-body-money-main"
                        data-current-money="1">
                        <div data-v-e49b49d6="" data-money="1"
                            class="Betting__Popup-body-line-item Betting__Popup-body-money-btn  bgcolor">1</div>
                        <div data-v-e49b49d6="" data-money="10"
                            class="Betting__Popup-body-line-item Betting__Popup-body-money-btn">10</div>
                        <div data-v-e49b49d6="" data-money="100"
                            class="Betting__Popup-body-line-item Betting__Popup-body-money-btn">100</div>
                        <div data-v-e49b49d6="" data-money="1000"
                            class="Betting__Popup-body-line-item Betting__Popup-body-money-btn">1000</div>
                    </div>
                </div>
                <div data-v-e49b49d6="" class="Betting__Popup-body-line">Quantity <div data-v-e49b49d6=""
                        class="Betting__Popup-body-line-btnL">
                        <div data-v-e49b49d6="" class="Betting__Popup-btn Betting__Popup-minus-btn  bgcolor">-</div>
                        <div data-v-e49b49d6="" class="van-cell van-field Betting__Popup-input"
                            modelmodifiers="[object Object]">
                            <div class="van-cell__value van-field__value">
                                <div class="van-field__body">
                                    <input type="tel" inputmode="numeric" id="van-field-1-input"
                                        class="van-field__control">
                                </div>

                            </div>
                        </div>
                        <div data-v-e49b49d6="" class="Betting__Popup-btn Betting__Popup-plus-btn bgcolor">+</div>
                    </div>
                </div>
                <div data-v-e49b49d6="" class="Betting__Popup-body-line">
                    <div data-v-e49b49d6=""></div>
                    <div data-v-e49b49d6="" class="Betting__Popup-body-line-list">
                        <div data-v-e49b49d6="" data-x="1"
                            class="Betting__Popup-body-line-item Betting__Popup-body-x-btn bgcolor"> X1</div>
                        <div data-v-e49b49d6="" data-x="5"
                            class="Betting__Popup-body-line-item Betting__Popup-body-x-btn"> X5</div>
                        <div data-v-e49b49d6="" data-x="10"
                            class="Betting__Popup-body-line-item Betting__Popup-body-x-btn"> X10</div>
                        <div data-v-e49b49d6="" data-x="20"
                            class="Betting__Popup-body-line-item Betting__Popup-body-x-btn"> X20</div>
                        <div data-v-e49b49d6="" data-x="50"
                            class="Betting__Popup-body-line-item Betting__Popup-body-x-btn"> X50</div>
                        <div data-v-e49b49d6="" data-x="100"
                            class="Betting__Popup-body-line-item Betting__Popup-body-x-btn"> X100</div>
                    </div>
                </div>
                <div data-v-e49b49d6="" class="Betting__Popup-body-line"><span data-v-e49b49d6=""
                        class="Betting__Popup-agree active">I agree</span><span data-v-e49b49d6=""
                        class="Betting__Popup-preSaleShow">《Pre-sale rules》</span></div>
            </div>
            <div data-v-e49b49d6="" class="Betting__Popup-foot">
                <div data-v-e49b49d6="" class="Betting__Popup-foot-c" id="cancel_bet_btn">Cancel</div>
                <div data-v-e49b49d6="" id="join_bet_btn" class="Betting__Popup-foot-s bgcolor">Total amount ₹<span
                        id="popup_total_bet_money">0.00</span></div>
            </div>
        </div>
    </div>
</div>