<div data-v-17d56002="" data-v-ac90c264="" class="GameList__C">
   <div data-v-17d56002="" class="GameList__C-item min_t_1" onclick="selectActiveClockByGameType(1)">
      <div data-v-17d56002="">Trx Win Go<br>1Min</div>
   </div>
   <div data-v-17d56002="" class="GameList__C-item min_t_3" onclick="selectActiveClockByGameType(3)">
      <div data-v-17d56002="">Trx Win Go<br>3Min</div>
   </div>
   <div data-v-17d56002="" class="GameList__C-item min_t_5" onclick="selectActiveClockByGameType(5)">
      <div data-v-17d56002="">Trx Win Go<br>5Min</div>
   </div>
   <div data-v-17d56002="" class="GameList__C-item min_t_10" onclick="selectActiveClockByGameType(10)">
      <div data-v-17d56002="">Trx Win Go<br>10Min</div>
   </div>
</div>