<div data-v-7dd1adab="" data-v-40958d9a="" class="Wallet__C">
   <div data-v-7dd1adab="" class="Wallet__C-balance">
      <div data-v-7dd1adab="" class="Wallet__C-balance-l1 reload_money">
         <div data-v-7dd1adab="" id="balance_amount">₹ Loading...</div>
      </div>
      <div data-v-7dd1adab="" class="Wallet__C-balance-l2">
         <div data-v-7dd1adab="">Wallet balance</div>
      </div>
      <div data-v-7dd1adab="" class="Wallet__C-balance-l3">
         <div data-v-7dd1adab="" onclick="location.href='/wallet/withdrawal'">Withdraw</div>
         <div data-v-7dd1adab="" onclick="location.href='/wallet/recharge'">Deposit</div>
      </div>
   </div>
</div>



<div data-v-ac90c264="" class="noticeBar__container"><svg class="svg-icon icon-noticeBarSpeaker">
      <use xlink:href="#icon-noticeBarSpeaker"></use>
   </svg>
   <div class="noticeBar__container-body">
      <div class="noticeBar__container-body-text">Welcome to BigMumbai, bringing you a good gaming experience!</div>
   </div><button class="hotIcon">Detail</button>
</div>