<div data-v-646d4ebc="" data-v-40958d9a="" class="WinningTip__C" id="popup_modal" style="display: none">
   <div data-v-646d4ebc="" class="WinningTip__C-body" id="popup_background">
      <div data-v-646d4ebc="" class="WinningTip__C-body-l1" id="popup_greeting_display">Congratulations</div>
      <div data-v-646d4ebc="" class="WinningTip__C-body-l2 type2" id="lottery_results_box">
         Lottery results
         <div data-v-646d4ebc="" id="popup_color_display">Purple Green</div>
         <div data-v-646d4ebc="" class="WinningNum" id="popup_num_display">5</div>
         <div data-v-646d4ebc="" id="popup_bs_display">Big</div>
      </div>
      <div data-v-646d4ebc="" class="WinningTip__C-body-l3">
         <div data-v-646d4ebc="" class="isLose" id="popup_loss_symbol">Lose</div>
         <div data-v-646d4ebc="" class="head" id="popup_win_symbol">Bonus</div>
         <div data-v-646d4ebc="" class="bonus" id="popup_win_rupees_display">₹1.96</div>
         <div data-v-646d4ebc="" class="gameDetail" id="popup_game_details">Period:Win 1 minute 20240602011409</div>
      </div>
      <div data-v-646d4ebc="" class="WinningTip__C-body-l4">
         <div data-v-646d4ebc="" class="acitveBtn"></div>
         3 seconds auto close
      </div>
      <div data-v-646d4ebc="" class="closeBtn"></div>
   </div>
</div>

<script>
   $(".closeBtn").click(function () {
      $(".WinningTip__C").hide()
   })
</script>
