<div data-v-7dd1adab="" data-v-40958d9a="" class="Wallet__C">
   <div data-v-7dd1adab="" class="Wallet__C-balance">
      <div class="Wallet__C-balance-row">
         <div class="Wallet__C-balance-item">
            <div data-v-7dd1adab="" class="Wallet__C-balance-l1 reload_money">
               <div data-v-7dd1adab="" id="balance_amount">₹ Loading...</div>
            </div>
            <div data-v-7dd1adab="" class="Wallet__C-balance-l2">
               <div data-v-7dd1adab="">Main Wallet </div>
            </div>
         </div>
         <!-- <div class="Wallet__C-balance-item">
            <div data-v-7dd1adab="" class="Wallet__C-balance-l1 reload_money">
               <div data-v-7dd1adab="" id="bonus_balance_amount">₹ Loading...</div>
            </div>
            <div data-v-7dd1adab="" class="Wallet__C-balance-l2">
               <div data-v-7dd1adab="">Bonus Wallet</div>
            </div>
         </div> -->
      </div>
      <div data-v-7dd1adab="" class="Wallet__C-balance-l3">
         <div data-v-7dd1adab="" onclick="location.href='/wallet/withdrawal'">Withdraw</div>
         <div data-v-7dd1adab="" onclick="location.href='/wallet/recharge'">Deposit</div>
      </div>
   </div>
</div>

<!-- <style>
   .Wallet__C-balance-row {
      display: flex;

      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
   }

   .Wallet__C-balance-l1>div[data-v-7dd1adab]:after {
      display: none;
   }
</style> -->

<div data-v-b3a5ca79="" data-v-40958d9a="" class="noticeBar__container"
   style="--04aba014: linear-gradient(360deg, #f54545 20.19%, #fe6868 100%)">
   <!---->
   <div data-v-b3a5ca79="" class="noticeBar__container-body">
      <div data-v-b3a5ca79="" class="noticeBar__container-body-text">Hello, withdrawals typically take 1-2 hours to
         process. We appreciate your patience and request that you wait for the status success before attempting to
         access your bank or e-wallet. Happy gaming!</div>
   </div>
   <button data-v-b3a5ca79="">Detail</button>
</div>